/* 重置一些默认样式 */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

main {
  display: flex;
  margin: 20px;
}

section {
  flex: 2;
  margin-right: 20px;
}

aside {
  flex: 1;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

article {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}